@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply overflow-x-hidden box-border;
}

p {
  @apply text-slate-600;
}

.container__astro {
  @apply max-w-screen-xl mx-auto px-5;
}

/* -------------------- HEADER ------------------------- */

.header__logo span:nth-child(1) {
  @apply font-bold text-indigo-600 text-lg;
}

.header__logo span:nth-child(2) {
  @apply text-slate-600 text-lg;
}

.header__logo span:nth-child(3) {
  @apply mt-1 ml-1 px-2 py-1 rounded-md
  uppercase font-bold leading-none
  text-xs bg-gray-200 text-slate-700;
}

li.header__button {
  margin-left: 10px !important;
}

a.move i {
  @apply relative align-baseline transition-all;
}

a.move:hover i {
  @apply translate-x-1;
}
/* --------- Phần code svg ----------- */

.popular__starups {
  @apply mt-10 mb-5 text-center text-slate-500;
}

.popular__starups__flex {
  @apply mt-5 flex flex-wrap items-center justify-center
  gap-x-8 gap-y-4 md:gap-20 lg:gap-28;
}

/* ----------------------- CLIENT FEEDBACK ------------------------ */

.feedback__title {
  @apply text-center mt-24;
}

.feedback__title h1 {
  @apply text-4xl lg:text-5xl font-bold lg:tracking-tight;
}

.feedback__title h1 span {
  @apply text-indigo-600;
}

.feedback__title p {
  @apply text-lg mt-4;
}

.feedback__content::before {
  content: "";
  @apply absolute w-96 h-96 right-1/3 -top-10 
 bg-indigo-100 bg-opacity-80 blur-2xl rounded-full;
}

.feedback__content {
  @apply mt-10 py-5 md:flex gap-10 relative overflow-visible;
}

.feedback__content::after {
  content: "";
  @apply absolute w-96 h-96 right-1/3 translate-x-2/3 top-10 z-0
  bg-purple-100 bg-opacity-80 blur-2xl rounded-full;
}

.feedback__content .feedback__carousel__1 {
  @apply flex flex-nowrap gap-10 overflow-x-auto  
  w-auto p-5 shrink-0 items-stretch
  snap-x snap-mandatory relative z-10;
}

.feedback__content .feedback__carousel__2 {
  @apply hidden md:flex gap-10 p-5 shrink-0 relative z-10;
}

@media screen and (min-width: 768px) {
  .feedback__content .feedback__carousel__1,
  .feedback__content .feedback__carousel__2 {
    @apply animate-marquee;
  }
}

.feedback__content .feedback__item {
  @apply rounded-2xl p-8 bg-gray-50 bg-opacity-40
  border-2 border-gray-300 border-opacity-30
  transition-all hover:shadow-xl 
  max-w-md shrink-0 w-[calc(100%-30px)]
  snap-start scroll-m-6;
}

.feedback__item p {
  @apply text-lg md:text-xl text-black;
}

.feedback__item .client__info {
  @apply flex items-center gap-3 mt-10;
}

.client__info img {
  @apply rounded-full w-12 h-12 object-cover;
}

.client__info .client__name h3 {
  @apply font-medium text-slate-800;
}

.client__info .client__name p {
  @apply text-sm;
}

/* ----------------------- SLOGAN ------------------------------- */
.slogan__title {
  @apply mt-24;
}

.slogan__title h1 {
  @apply text-4xl lg:text-5xl font-bold lg:tracking-tight;
}

.slogan__title h1 span {
  @apply text-indigo-600;
}

.slogan__title p {
  @apply text-lg mt-4;
}

.slogan__grid {
  @apply mt-16;
}

.slogan__grid .slogan__item {
  @apply p-8 rounded-lg bg-gray-100/50 bg-opacity-50
  border-2 border-gray-300 border-opacity-30
  transition-all hover:shadow-xl
  lg:flex flex-col justify-between overflow-hidden;
}

.slogan__item .slogan__picture {
  @apply mb-2 relative lg:h-52;
}

.slogan__item .slogan__picture.height {
  @apply lg:h-64;
}

.slogan__picture::after {
  content: "";
  @apply absolute bg-gradient-to-t from-gray-50 from-0% via-gray-50/40 via-35% to-gray-50/0 to-70%
  top-0 right-0 left-0 bottom-0 lg:-bottom-14;
}

.slogan__picture img {
  @apply w-full ring-2 ring-gray-50/50 lg:absolute;
}

.slogan__content {
  @apply mt-3 relative lg:bg-gray-50 lg:pt-3;
}

.slogan__content span {
  @apply mt-2 text-xs font-medium px-3 py-1 border rounded-full
 text-purple-600 bg-purple-100  border-purple-300;
}

.slogan__content span.color_1 {
  @apply text-indigo-600 bg-indigo-100 border-indigo-300;
}

.slogan__content span.color_2 {
  @apply text-gray-800 bg-gray-200 border-gray-300;
}

.slogan__content h2 {
  @apply mt-2 font-medium text-xl lg:text-2xl;
}

.slogan__content p {
  @apply mt-2 text-balance lg:text-lg;
}

.slogan_grid__1 {
  @apply mt-16 grid gap-10 md:grid-cols-2 lg:grid-cols-5;
}

.slogan_grid__1 .slogan__item:first-child {
  @apply lg:col-start-1 lg:col-end-4;
}

.slogan_grid__1 .slogan__item:last-child {
  @apply lg:col-start-4 lg:col-end-6;
}

.slogan_grid__2 {
  @apply mt-10 grid gap-10 md:grid-cols-2 lg:grid-cols-3;
}

/* -------------------- TRIAL BANNER ------------------------- */

.trialBanner {
  @apply mt-20 p-8 md:p-20 text-white text-center
  flex flex-col justify-center
  bg-gradient-to-bl from-indigo-900 to-indigo-700;
}

.trialBanner h1 {
  @apply text-4xl md:text-6xl tracking-tight;
}

.trialBanner p {
  @apply mt-4 text-white/70 text-lg md:text-xl;
}

.trialBanner a {
  @apply mt-5 rounded-full px-7 py-3 bg-white text-indigo-800 
  border-2 cursor-pointer w-fit mx-auto
  transition-all hover:shadow-lg;
}

/* -------------------- FOOTER ------------------------- */

footer {
  @apply py-14 bg-slate-100 border-t border-slate-200;
}

.footer__main {
  @apply grid gap-8 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5;
}

.footer__intro {
  @apply col-start-1 sm:col-end-3 md:col-end-4 lg:col-end-3;
}

.footer__intro p {
  @apply mt-4 text-sm text-slate-700 max-w-xs text-balance;
}

.footer__logo {
  @apply flex items-center;
}

.footer__logo a span:nth-child(1) {
  @apply font-bold text-indigo-600 text-lg;
}

.footer__logo a span:nth-child(2) {
  @apply text-slate-600 text-lg;
}

.footer__logo a span:nth-child(3) {
  @apply mt-1 ml-1 px-2 py-1 rounded-md
  uppercase font-bold leading-none
  text-xs bg-gray-200 text-slate-700;
}

.footer__icon {
  @apply mt-4 flex gap-3 items-center;
}

.footer__icon a {
  @apply text-slate-500 text-sm bg-gray-200 
  rounded-md h-5 w-5 leading-5 text-center cursor-pointer
  transition-all hover:bg-gray-300;
}

.footer__item h3 {
  @apply font-medium text-sm text-slate-800;
}

.footer__item ul {
  @apply mt-3;
}

.footer__item ul li {
  @apply py-2;
}

.footer__item ul li a {
  @apply text-sm text-slate-600 transition-all hover:text-indigo-600;
}

.footer__bottom {
  @apply mt-14 pt-8 px-5 text-center text-slate-600
  border-t border-slate-200;
}

.footer__bottom p {
  @apply text-sm text-balance;
}

.footer__bottom a {
  @apply mt-2 text-xs transition-all hover:text-indigo-500;
}

.text__title {
  @apply text-3xl font-bold [text-wrap:balance] lg:text-4xl lg:tracking-tight lg:text-start text-center xl:text-6xl xl:tracking-tighter w-full;
}

.text__title2 {
  @apply text-center mt-4 text-lg text-slate-600 max-w-lg [text-wrap:balance] lg:text-start w-full;
}

/* BANNER */
.banner__flex {
  @apply flex flex-col lg:flex-row;
}

.banner__contain {
  @apply flex flex-col lg:justify-start;
}

.banner__text {
  @apply flex flex-col flex-1 text-left justify-center lg:items-start items-center relative z-10;
}

.text__title {
  @apply z-10;
}

.text__title2 {
  @apply z-10;
}

.banner .banner__text::before {
  content: "";
  @apply absolute bg-purple-200 left-4 w-1/2 h-full top-5
  blur-2xl rounded-full z-0 lg:translate-x-700 lg:top-0 lg:-translate-y-16 lg:min-w-full;
}

.banner .banner__text::after {
  content: "";
  @apply absolute right-4 w-1/2 h-full z-0 top-5
  bg-indigo-200 blur-2xl rounded-full lg:translate-x-80 lg:top-0 lg:-translate-y-4 lg:h-2/3;
}

.banner__button {
  @apply mt-6 flex flex-col lg:justify-start gap-3 lg:flex-row justify-center md:flex-row sm:flex;
}

.button__1 {
  @apply text-center transition rounded-3xl px-7 py-2.5 bg-indigo-600 text-white hover:bg-indigo-800 z-10;
}

.button__2 {
  @apply text-center transition rounded-3xl px-7 py-2.5 bg-white text-indigo-800 border-2 border-indigo-500 hover:bg-indigo-100 z-10;
}

.banner__img {
  @apply relative z-10;
}
.img {
  @apply relative z-10;
}

/* TWO-COL FEATURES */
/* Phần CSS chung của two-col features và more features */
.features1 {
  @apply text-purple-700 font-medium text-xs
    border rounded-full px-3 py-1 border-purple-200 bg-purple-100;
}
.features5 {
  @apply text-4xl lg:text-5xl font-bold lg:tracking-tight mt-4 text-center;
}
.features2 {
  @apply text-lg mt-4 text-pretty text-center text-slate-600;
}
.features3 {
  @apply text-2xl text-balance font-medium mt-4;
}
.features4 {
  @apply mt-4 text-slate-600 text-balance;
}
/* Phần riêng của two col features */
.features__list {
  @apply mt-4;
}
.features__li {
  @apply mt-4;
}
.features__li i {
  @apply text-white bg-black border border-black rounded-full text-base
    mt-4 leading-3 px-1 py-1;
}
.features__li span {
  @apply text-sm;
}
.features__button {
  @apply mt-4;
}
.features__button1 {
  @apply ml-2
    bg-indigo-600 text-white hover:bg-indigo-800 transition border border-indigo-600
    rounded-full px-5 py-1;
}

.features__button2 {
  @apply mr-2
    hover:text-indigo-600 rounded-full px-4 py-1 transition;
}
.features__content1 {
  margin-left: 20px;
}
.features__img img {
  max-height: 100%;
  width: auto;
}
/* MORE FEATURES */
.morefeatures__item {
  @apply px-3 py-3
    hover:bg-slate-50 hover:border-slate-100 transition-all
    rounded-xl;
}
.morefeatures__item img {
  @apply text-purple-200 bg-indigo-50 py-2 px-2 leading-3 
    shadow shadow-indigo-100/60 border border-indigo-100
    rounded-lg;
}
.morefea__text1 {
  @apply mt-4 font-semibold text-lg;
}
.morefea__text2 {
  @apply mt-2 leading-relaxed text-slate-500 text-base;
}

/* -------------- ABOUT.HTML ---------------- */

/* BANNER */

.banner__about {
  @apply mt-24 mb-16 text-center;
}

.banner__about span {
  @apply mt-2 text-xs font-medium px-3 py-1 border rounded-full
  text-purple-600 bg-purple-100  border-purple-300;
}

.banner__about h1 {
  @apply mt-4 text-4xl lg:text-5xl font-bold lg:tracking-tight;
}

.banner__about p {
  @apply text-lg mt-4 mb-6 text-slate-500 mx-auto max-w-xl;
}

.banner__about a {
  @apply transition-all rounded-3xl px-6 py-2.5 bg-white text-indigo-800 border-2 border-indigo-500 hover:bg-indigo-100;
}

/* OUR MISSION */

.mission {
  @apply grid sm:grid-cols-2 gap-10 mx-auto mt-24;
}
.mission__img::before {
  content: "";
  @apply absolute hidden md:block w-96 h-96 bg-purple-100 
  rounded-full right-0 top-1/3 -z-10;
}

.mission__img {
  @apply relative;
}

.mission__img::after {
  content: "";
  @apply absolute hidden md:block w-44 h-44 bg-purple-100 
  rounded-full left-10 top-1/4 -z-10;
}

.mission__img img {
  @apply rounded-xl w-full max-w-md mx-auto shadow-2xl;
}

.mission__content {
  @apply place-self-center;
}

.mission__content h1 {
  @apply text-5xl text-gray-800 tracking-tight -mt-2;
}

.mission__content h1 span {
  @apply text-indigo-600;
}

.mission__content p {
  @apply text-lg max-w-xl mt-4 leading-relaxed text-slate-500;
}

.mission__content ul {
  @apply grid mt-6 text-left gap-y-4;
}

.mission__content ul li {
  @apply flex items-center gap-3;
}

.mission__content ul li span {
  @apply text-slate-800;
}

/* CORE TEAM */

.coreTeam__title {
  @apply text-center mt-24;
}

.coreTeam__title h1 {
  @apply text-4xl lg:text-5xl lg:tracking-tight;
}

.coreTeam__title h1 span {
  @apply text-indigo-600 font-bold;
}

.coreTeam__title p {
  @apply text-lg mt-4;
}

.coreTeam__content {
  @apply grid md:grid-cols-4 gap-10 mx-auto mt-12;
}

.coreTeam__content .coreTeam__item:hover img {
  @apply transition-all -translate-y-1 shadow-xl;
}

.coreTeam__content .coreTeam__item img {
  @apply w-full aspect-square object-cover rounded;
}

.coreTeam__content .coreTeam__item .member__name {
  @apply mt-4 text-center;
}

.coreTeam__item .member__name h2 {
  @apply text-lg text-gray-800;
}

.coreTeam__item .member__name p {
  @apply text-sm text-slate-500;
}

/* -------------- CONTACT.HTML ---------------- */

.contact {
  @apply mt-24;
}

.contact__title {
  @apply text-center;
}

.contact__title h1 {
  @apply text-4xl lg:text-5xl font-bold lg:tracking-tight;
}

.contact__title p {
  @apply text-lg mt-4 text-slate-500 mx-auto max-w-xl;
}

.contact__content {
  @apply grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16;
}

.contact__content .contact__info h2 {
  @apply font-medium text-2xl text-gray-800;
}

.contact__content .contact__info p {
  @apply text-lg leading-relaxed text-slate-500 mt-3;
}

.contact__content .contact__info ul {
  @apply mt-5;
}

.contact__content .contact__info ul li {
  @apply mt-2 flex items-center space-x-2 text-gray-600;
}

.contact__content .contact__form {
  @apply bg-slate-100 p-5 md:p-8 rounded-xl mb-5;
}

.contact__content .contact__form input {
  @apply mb-5 w-full px-4 py-3 border placeholder:text-slate-400 rounded-md outline-none focus:ring-4 border-slate-300 focus:border-slate-600 ring-slate-100;
}

.contact__content .contact__form textarea {
  @apply mb-3
  w-full px-4 py-3 border placeholder:text-slate-400 rounded-md outline-none h-36 focus:ring-4 border-slate-300 focus:border-slate-600 ring-slate-100;
}

.contact__content .contact__form button {
  @apply rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 w-full px-6 py-3 bg-indigo-600 text-white hover:bg-indigo-800  border-2 border-transparent;
}

/* ------------------- INTERGRATIONS.HTML --------------- */

/* INTERGRATIONS */

.integrations {
  @apply mt-24;
}

.integrations__title {
  @apply text-center;
}

.integrations__title h1 {
  @apply text-4xl lg:text-5xl font-bold lg:tracking-tight;
}

.integrations__title p {
  @apply text-lg mt-4 text-slate-500 mx-auto max-w-xl;
}

.integrations__content {
  @apply grid md:grid-cols-2 lg:grid-cols-3 gap-10 my-8;
}

.integrations__content .integrations__item {
  @apply transition-all;
}

.integrations__content .integrations__item .item__logo {
  @apply border-2 border-gray-200/50 rounded-md w-16 h-16 bg-white
  flex justify-center items-center relative mx-auto top-8;
}

.integrations__content .integrations__item:hover .item__logo {
  @apply border-gray-300/50;
}

.integrations__content .integrations__item .item__logo img {
  @apply w-1/2;
}

.integrations__content .integrations__item .item__content {
  @apply pt-8 pb-6 border-2 border-gray-200/50 rounded-md text-center transition-all;
}

.integrations__content .integrations__item:hover .item__content {
  @apply border-gray-300/50 shadow-md;
}

.integrations__item .item__content h2 {
  @apply text-xl lg:text-2xl font-medium mt-4;
}

.integrations__item .item__content p {
  @apply mb-3 text-slate-600 mt-2 [text-wrap:balance];
}

.integrations__item .item__content a {
  @apply text-sm px-2 py-1 text-indigo-600 rounded-full;
}
